<div class="form-container">
  <form [formGroup]="userForm">
    <div class="form-section">
        <label>Name</label>
        <input [formControlName]="name" type="text">
    </div>
    <div class="form-section">
        <label>Field</label>
        <input [formControlName]="field" type="text">
    </div>
    <div class="form-section">
        <label>Date of Birth</label>
        <input [formControlName]="dateOfBirth" type="date">
    </div>

    <div class="form-section">
        <button id="submit" (click)="submit()">Save</button>
    </div>
  </form>
</div>
