<div class="container">
    <ng-container *appNgLet="loaded$ | async as loaded">
        <ng-container *ngIf="!loaded">
            <i class="fas fa-satellite-dish"></i>
        </ng-container>

        <ng-container *appNgLet="error$ | async as error">
            <ng-container *ngIf="loaded && !error">
                <div class="new-user-container">
                    <app-new-user-form (newUser)="newUser$.next($event)"></app-new-user-form>
                </div>
                <ng-container *ngIf="users$ | async as users">
                    <div class="user-list-container">
                        <div *ngFor="let user of users" class="user-container">
                            <app-user [user]="user"></app-user>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="loaded && error">
                <i class="fas fa-exclamation-circle"></i>
            </ng-container>
        </ng-container>
    </ng-container>
</div>




