.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-box {
  width: 100%;
  padding: .5em .5em;
  border-radius: 5px;
  background: rgb(255, 71, 71);
  text-align: center;
}

.error-box span {
  color: #fff;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
}

.new-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
}

.new-user {
  width: 90%;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 380px;
}

.user-list-item {
    margin: 1em;
}